In [29]:
import tensorflow as tf
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier

import joblib  # model 저장용

In [17]:
(train_set, train_label), (test_set, test_label) = tf.keras.datasets.mnist.load_data()

In [18]:
train_set = train_set.reshape(len(train_set), -1)
test_set = test_set.reshape(len(test_set), -1)

In [19]:
clf = RandomForestClassifier()
clf.fit(train_set, train_label)

RandomForestClassifier()

In [20]:
pred = clf.predict(test_set)

In [14]:
confusion_matrix = [[0 for i in range(10)] for i in range(10)]

In [24]:
for i in range(len(test_set)):
    r = test_label[i]
    p = pred[i]
    
    confusion_matrix[r][p] += 1

In [25]:
confusion_matrix

[[972, 0, 0, 0, 0, 0, 2, 1, 4, 1],
 [0, 1124, 2, 2, 1, 1, 3, 1, 1, 0],
 [5, 0, 999, 6, 3, 0, 4, 8, 7, 0],
 [0, 0, 9, 974, 0, 9, 0, 8, 7, 3],
 [1, 0, 1, 0, 956, 0, 6, 0, 2, 16],
 [3, 0, 0, 16, 2, 859, 5, 2, 4, 1],
 [9, 3, 1, 0, 2, 1, 938, 0, 4, 0],
 [1, 4, 21, 3, 1, 0, 0, 988, 1, 9],
 [4, 0, 3, 9, 8, 6, 7, 5, 923, 9],
 [6, 5, 1, 12, 10, 0, 1, 4, 6, 964]]

# 시각화

In [56]:
x = [i for i in range(10)]
df = pd.DataFrame(confusion_matrix, index=x, columns=x)
# df = df / 100
df

     0     1    2    3    4    5    6    7    8    9
0  972     0    0    0    0    0    2    1    4    1
1    0  1124    2    2    1    1    3    1    1    0
2    5     0  999    6    3    0    4    8    7    0
3    0     0    9  974    0    9    0    8    7    3
4    1     0    1    0  956    0    6    0    2   16
5    3     0    0   16    2  859    5    2    4    1
6    9     3    1    0    2    1  938    0    4    0
7    1     4   21    3    1    0    0  988    1    9
8    4     0    3    9    8    6    7    5  923    9
9    6     5    1   12   10    0    1    4    6  964

fig, ax = plt.subplots(figsize=(15,13))
ax = sns.heatmap(df,
                 cmap="PiYG",              # cmap Color
                 cbar=False,
                 annot=True,               # Value Text
                 fmt=".1%",                  # Value type (interge = "d")
                 linewidths=2)