# < Pandas 기초 >

In [1]:
import pandas as pd   # as : alias name 약자

# 1. pd.Series
: 열 벡터vector

## pd.Series에는 Dictionary type이 인자로 입력

In [2]:
# Dictionary type 정의
dict_data = {'a':1, 'b':2, 'c':3}

In [3]:
sr = pd.Series(dict_data)

In [4]:
sr

a    1
b    2
c    3
dtype: int64

In [5]:
type(sr)

pandas.core.series.Series

In [7]:
# list type 정의
list_data = ['2022-03--22', 3.14592, 'ABC', 100, True]

In [8]:
sr = pd.Series(list_data)

In [9]:
sr

0    2022-03--22
1        3.14592
2            ABC
3            100
4           True
dtype: object

## index, values 확인하기

In [10]:
idx = sr.index   # rangeIndex(start, end, step)
idx

RangeIndex(start=0, stop=5, step=1)

In [12]:
val = sr.values
val

array(['2022-03--22', 3.14592, 'ABC', 100, True], dtype=object)

## 튜플 자료형을 판다스의 시리즈로 변환
- index라는 예약어, 지정어를 통해 index도 지정 가능

In [14]:
tup_data = ('lee', '19xx-xx-xx', 'Male', True)

sr = pd.Series(tup_data, index=["Name", "Birth", "Sex", "Student"])
sr

Name              lee
Birth      19xx-xx-xx
Sex              Male
Student          True
dtype: object

## 시리즈의 원소를 선택해보기

### 1) 1개 선택하기

In [15]:
sr[0]

'lee'

In [16]:
sr['Birth']

'19xx-xx-xx'

###  2) 여러 개 선택하기
- 대괄호 2개와 콤마로 구분해서 선택 가능
- 슬라이싱으로 선택 가능 (대괄호 1개)

In [20]:
sr[[1, -1]]

Birth      19xx-xx-xx
Student          True
dtype: object

In [25]:
sr[["Name", "Student"]]

Name        lee
Student    True
dtype: object

In [23]:
sr[1:3]

Birth    19xx-xx-xx
Sex            Male
dtype: object

# 2. pd.DataFrame
: 행 인덱스를 기준으로 줄지어 결합된 행렬matrix
### 행렬 이름 설정하기
1. 데이터프레임 생성할 때
```python
pd.DataFame(2차원 배열,
            index=행 인덱스 배열,
            columns=열 이름 배열)
```
2. 속성을 지정하여 변경하기
```python
데이터프레임.index = 새로운 행 인덱스 배열
데이터프레임.columns = 새로운 열 이름 배열
```
3. rename() 사용 : 새로운 df 객체를 리턴, 원본 변경을 원하면 inplace=Ture 옵션 추가해주기
```python
데이터프레임.rename(index={기존 인덱스:새 인덱스, ...})
데이터프레임.rename(columns={기존 이름:새 이름, ...})
```

## Dictionary to DataFrame

In [26]:
dict_data = {'c0': [1,2,3], 'c1': [4,5,6], 'c2': [7,8,9]}

In [27]:
df = pd.DataFrame(dict_data)
df

   c0  c1  c2
0   1   4   7
1   2   5   8
2   3   6   9

## List to DataFrame 
### index, columns 파라미터로 row, column 이름 지정

In [30]:
df = pd.DataFrame([[23, 'Male', 'Daegu'], [24, 'Female', 'Busan']], 
                  index=['Lee', 'Choi'], 
                  columns=['Age', 'Sex', 'Addr'])
df  # dict 만들때랑 들어가는 모양이 달라짐. 위 셀과 확인

      Age     Sex   Addr
Lee    23    Male  Daegu
Choi   24  Female  Busan

### index, column 이름 변경

In [31]:
df.index = ['Student1', 'Student2']
df

          Age     Sex   Addr
Student1   23    Male  Daegu
Student2   24  Female  Busan

In [33]:
df.columns = ['나이', '성별', '주소']
df

          나이      성별     주소
Student1  23    Male  Daegu
Student2  24  Female  Busan

In [39]:
df1 = df.rename(index={'Student1': 'Choi'})
print('< df1 >\n', df1)
print()
print('< df >\n', df)

< df1 >
           나이      성별     주소
Choi      23    Male  Daegu
Student2  24  Female  Busan

< df >
           나이      성별     주소
Student1  23    Male  Daegu
Student2  24  Female  Busan