In [1]:
import pandas as pd
import random as r

In [2]:
df = pd.read_csv("D:\Kamie\Java\salmon_bass_data.csv")

In [3]:
df

      Class  Length  Lightness
0    Salmon       2        0.8
1    Salmon       2        0.8
2    Salmon       2        1.2
3    Salmon       2        1.2
4    Salmon       2        1.2
..      ...     ...        ...
313    Bass      24        6.8
314    Bass      24        6.8
315    Bass      24        6.8
316    Bass      24        6.8
317    Bass      24        6.8

[318 rows x 3 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318 entries, 0 to 317
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Class      318 non-null    object
 1   Length     318 non-null    int64
 2   Lightness  318 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 7.6+ KB

# Dictionary와 유사한 DataFrame

In [5]:
dic = {"Name": "강현우"}
dic

{'Name': '강현우'}

In [6]:
dic["Name"]  # index 대신 key로 value를 가져올 수 있음

'강현우'

In [7]:
# 새로운 값 assign 할당
dic["Name"] = "김근형"  # 덮어쓰기
dic

{'Name': '김근형'}

## 1) 하나의 key에 여러 개의 value 할당

In [8]:
nameList = ["강현우", "김근형", "김동혁"]

dic["Name"] = nameList  # Name이라는 column에 nameList들을 값으로 넣어줌
dic

{'Name': ['강현우', '김근형', '김동혁']}

## 2) key 추가하기

In [9]:
dic["Id"] = [0, 1]
dic

{'Name': ['강현우', '김근형', '김동혁'], 'Id': [0, 1]}

## 3) value 추가하기

In [10]:
dic["Id"].append(2)
dic

{'Name': ['강현우', '김근형', '김동혁'], 'Id': [0, 1, 2]}

# DataFrame

In [11]:
df_dic = pd.DataFrame(dic)
df_dic

  Name  Id
0  강현우   0
1  김근형   1
2  김동혁   2

## 1) df에 값 할당하기

In [12]:
df_dic["국어"] = 0
df_dic

  Name  Id  국어
0  강현우   0   0
1  김근형   1   0
2  김동혁   2   0

In [13]:
df_dic["국어"] = [100, 95, 60]
df_dic

  Name  Id   국어
0  강현우   0  100
1  김근형   1   95
2  김동혁   2   60

In [14]:
df_dic["국어"] = [100, 95, 60, 70]  # 인덱스 에러
df_dic

ValueError: Length of values (4) does not match length of index (3)

In [15]:
def score():
    return r.randint(0, 100)  # 0 ~ 100 이하의 랜덤한 정수

## 행 수정하기

In [16]:
df_dic.loc[0] = ["신주석", "2022-0", score()]
df_dic

  Name      Id  국어
0  신주석  2022-0  71
1  김근형       1  95
2  김동혁       2  60

## 행 추가하기

In [17]:
df_dic.loc[3] = ['남현진', '2022-3', score()]
df_dic

  Name      Id  국어
0  신주석  2022-0  71
1  김근형       1  95
2  김동혁       2  60
3  남현진  2022-3  78

In [18]:
df_dic.loc[4] = 0
df_dic

  Name      Id  국어
0  신주석  2022-0  71
1  김근형       1  95
2  김동혁       2  60
3  남현진  2022-3  78
4    0       0   0

## df.shape을 통해 마지막 행에 접근

In [19]:
df_dic.shape

(5, 3)

In [20]:
df_dic.shape[0]  # 행 개수 출력

5

In [21]:
df_dic.shape[1]  # 열 개수 출력

3

In [22]:
df_dic.loc[df_dic.shape[0]] = ['박수연', "2022-5", score()]  # 마지막 행 다음에 추가하게 되겠지
df_dic

  Name      Id  국어
0  신주석  2022-0  71
1  김근형       1  95
2  김동혁       2  60
3  남현진  2022-3  78
4    0       0   0
5  박수연  2022-5  25

## 특정 행렬에 접근

In [23]:
df_dic.loc[1, "Id"], df_dic.loc[2, "Id"]

(1, 2)

In [24]:
df_dic.loc[1, "Id"] = "2022-1"
df_dic.loc[2, "Id"] = "2022-2"
df_dic

  Name      Id  국어
0  신주석  2022-0  71
1  김근형  2022-1  95
2  김동혁  2022-2  60
3  남현진  2022-3  78
4    0       0   0
5  박수연  2022-5  25

In [25]:
df_dic.loc[4] = ["노영하", "2022-4", score()]
df_dic

  Name      Id  국어
0  신주석  2022-0  71
1  김근형  2022-1  95
2  김동혁  2022-2  60
3  남현진  2022-3  78
4  노영하  2022-4  16
5  박수연  2022-5  25

In [26]:
len(df_dic)

6

In [27]:
for i in range(len(df_dic), 23):
    df_dic.loc[i] = [f"name-{i}", f'2022-{i}', score()]

In [28]:
df_dic

       Name       Id  국어
0       신주석   2022-0  71
1       김근형   2022-1  95
2       김동혁   2022-2  60
3       남현진   2022-3  78
4       노영하   2022-4  16
5       박수연   2022-5  25
6    name-6   2022-6  36
7    name-7   2022-7  25
8    name-8   2022-8  26
9    name-9   2022-9  33
10  name-10  2022-10  30
11  name-11  2022-11   6
12  name-12  2022-12  60
13  name-13  2022-13  79
14  name-14  2022-14  94
15  name-15  2022-15  97
16  name-16  2022-16  79
17  name-17  2022-17  81
18  name-18  2022-18  43
19  name-19  2022-19   5
20  name-20  2022-20  35
21  name-21  2022-21  64
22  name-22  2022-22  60

In [29]:
df_dic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 0 to 22
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    23 non-null     object
 1   Id      23 non-null     object
 2   국어      23 non-null     int64
dtypes: int64(1), object(2)
memory usage: 736.0+ bytes

In [30]:
df_dic.to_csv("D:/Kamie/mon_ML/f220321.csv")

# 함수 생성

In [31]:
df_dic["국어"] = [score(), score(), score()]
df_dic

ValueError: Length of values (3) does not match length of index (23)

In [32]:
def add(a, b):
    return a + b

In [33]:
add(2, 7)

9

In [34]:
add(2)

TypeError: add() missing 1 required positional argument: 'b'

In [35]:
add(2, 7, 4)

TypeError: add() takes 2 positional arguments but 3 were given

## return 없는 함수 가능
인자가 없는 함수도 가능

In [36]:
def nothing():
    print("아무것도 없지롱")

In [37]:
nothing()

아무것도 없지롱

In [38]:
print(nothing())  # None 반환. return이 없기 때문.

아무것도 없지롱
None

In [39]:
def add(a, b):
    return a + b

def sub(a, b):
    return a - b

def mul(a, b):
    return a * b

def div(a, b):
    if b != 0:
        return a / b
    else:
        print("0으로 나눌 수 없습니다.")
        return 0

In [40]:
print(add(2,3))
print(sub(2,3))
print(mul(2,3))

5
-1
6

In [41]:
print(div(2,0))

0으로 나눌 수 없습니다.
0