# 학습 데이터 처리

In [1]:
import pandas as pd

In [34]:
df = pd.read_csv("data/auto-mpg.csv", header=None)
df.columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'name']

In [35]:
df
# 만약 열이 많아서 ... 으로 생략되는 경우 set_option 사용하면 됨
# pd.set_option('display.max_column', None)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [43]:
df.shape

(398, 9)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [37]:
df.describe(include='all')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
count,398.000000,398.000000,398.000000,398,398.000000,398.000000,398.000000,398.000000,398
unique,NaN,NaN,NaN,94,NaN,NaN,NaN,NaN,305
top,NaN,NaN,NaN,150.0,NaN,NaN,NaN,NaN,ford pinto
freq,NaN,NaN,NaN,22,NaN,NaN,NaN,NaN,6
mean,23.514573,5.454774,193.425879,NaN,2970.424623,15.568090,76.010050,1.572864,NaN
std,7.815984,1.701004,104.269838,NaN,846.841774,2.757689,3.697627,0.802055,NaN
min,9.000000,3.000000,68.000000,NaN,1613.000000,8.000000,70.000000,1.000000,NaN
25%,17.500000,4.000000,104.250000,NaN,2223.750000,13.825000,73.000000,1.000000,NaN
50%,23.000000,4.000000,148.500000,NaN,2803.500000,15.500000,76.000000,1.000000,NaN
75%,29.000000,8.000000,262.000000,NaN,3608.000000,17.175000,79.000000,2.000000,NaN
max,46.600000,8.000000,455.000000,NaN,5140.000000,24.800000,82.000000,3.000000,NaN

분산과 표준편차의 차이  
- 표준편차 : 평균에 대한 오차, 평균값이 실제 데이터 값으로부터 얼마나 오차가 있는지 알기 위해 사용
- 분산 : 편차의 제곱의 평균 (양수화)
- 공분산 : 두 변수 간의 관계 표현, 두 변수의 단위의 크기에 영향을 받음  

분산은 제곱을 해서 많이 벗어난, 값이 떨어진, 분산이 커진, 데이터의 분포가 늘어남  
그걸 줄여주기 위해 루트 씌운게 표준편차

In [38]:
df.count()

mpg             398
cylinders       398
displacement    398
horsepower      398
weight          398
acceleration    398
model year      398
origin          398
name            398
dtype: int64

In [45]:
df.value_counts()

mpg   cylinders  displacement  horsepower  weight  acceleration  model year  origin  name
9.0   8          304.0         193.0       4732.0  18.5          70          1       hi 1200d                                1
27.0  4          151.0         90.00       2950.0  17.3          82          1       chevrolet camaro                        1
                 140.0         86.00       2790.0  15.6          82          1       ford mustang gl                         1
                 112.0         88.00       2640.0  18.6          82          1       chevrolet cavalier wagon                1
                 101.0         83.00       2202.0  15.3          76          2       renault 12tl                            1
                                                                                                                            ..
18.6  6          225.0         110.0       3620.0  18.7          78          1       dodge aspen                             1
18.5  8          360.0         150.0       3940.0  13.0          79          1       chrysler lebaron town @ country (sw)    1
      6          250.0         98.00       3525.0  19.0          77          1       ford granada                            1
                               110.0       3645.0  16.2          76          1       pontiac ventura sj                      1
46.6  4          86.0          65.00       2110.0  17.9          80          3       mazda glc                               1
Length: 398, dtype: int64

In [44]:
df.origin.value_counts(dropna=True)

1    249
3     79
2     70
Name: origin, dtype: int64

In [46]:
df.mpg.mean()  # == df['mpg'].mean()

23.514572864321615

In [48]:
df[['mpg', 'weight']].mean()

mpg         23.514573
weight    2970.424623
dtype: float64

In [49]:
df[['mpg', 'weight']].median()

mpg         23.0
weight    2803.5
dtype: float64

In [51]:
df.std()

C:\Users\grand\AppData\Local\Temp/ipykernel_21960/3390915376.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

mpg               7.815984
cylinders         1.701004
displacement    104.269838
weight          846.841774
acceleration      2.757689
model year        3.697627
origin            0.802055
dtype: float64

In [52]:
df.corr()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
mpg,1.000000,-0.775396,-0.804203,-0.831741,0.420289,0.579267,0.563450
cylinders,-0.775396,1.000000,0.950721,0.896017,-0.505419,-0.348746,-0.562543
displacement,-0.804203,0.950721,1.000000,0.932824,-0.543684,-0.370164,-0.609409
weight,-0.831741,0.896017,0.932824,1.000000,-0.417457,-0.306564,-0.581024
acceleration,0.420289,-0.505419,-0.543684,-0.417457,1.000000,0.288137,0.205873
model year,0.579267,-0.348746,-0.370164,-0.306564,0.288137,1.000000,0.180662
origin,0.563450,-0.562543,-0.609409,-0.581024,0.205873,0.180662,1.000000

In [53]:
df[['mpg', 'weight']].corr()  # 차가 무거우면 연비 안좋을 수 밖에.

             mpg    weight
mpg     1.000000 -0.831741
weight -0.831741  1.000000

In [54]:
df['mpg'].corr(df.displacement, method='spearman')  # 배기량

-0.8556920118178749

# 데이터 전처리
### horsepower의 경우 '?'가 포함되어 있음
1. ? -> NaN으로 변경 : replace() 사용
2. NaN의 데이터는 행 단위로 삭제 : dropna() 사용
3. type 자체를 float으로 변경 : astype('float')
4. corr() 더 수행 : horsepower도 상관관계 확인

In [55]:
import numpy as np

In [56]:
# 1. ? -> NaN으로 변경
df['horsepower'].replace('?', np.nan, inplace=True)

In [57]:
# 2. NaN 데이터는 행 단위로 삭제
df.dropna(axis=0, inplace=True)

In [58]:
# 3. object type을 float으로 변경
df['horsepower'] = df['horsepower'].astype('float')

In [59]:
df.horsepower.dtypes

dtype('float64')

In [60]:
df.corr()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
mpg,1.000000,-0.777618,-0.805127,-0.778427,-0.832244,0.423329,0.580541,0.565209
cylinders,-0.777618,1.000000,0.950823,0.842983,0.897527,-0.504683,-0.345647,-0.568932
displacement,-0.805127,0.950823,1.000000,0.897257,0.932994,-0.543800,-0.369855,-0.614535
horsepower,-0.778427,0.842983,0.897257,1.000000,0.864538,-0.689196,-0.416361,-0.455171
weight,-0.832244,0.897527,0.932994,0.864538,1.000000,-0.416839,-0.309120,-0.585005
acceleration,0.423329,-0.504683,-0.543800,-0.689196,-0.416839,1.000000,0.290316,0.212746
model year,0.580541,-0.345647,-0.369855,-0.416361,-0.309120,0.290316,1.000000,0.181528
origin,0.565209,-0.568932,-0.614535,-0.455171,-0.585005,0.212746,0.181528,1.000000