# << 파이썬 내장함수 >>
### 익숙하지 않으면 함수로 한 번 내려서 표현해보자
---

# filter, map, zip
-> filter, map 객체 자체로 반환되기 때문에 list로 형변환해서 사용해야 함

## 리스트를 입력받아 양수만 리턴하는 함수 
- 중첩 리스트 제외 ex) [1,2,3,[4,5],6,...] -> X

In [8]:
li = [0, 1, -1, 2, -2, 3, -3]

In [9]:
def rtn_positive(in_list):
    rtn_list = []
    
    for val in in_list:
        if val > 0:
            rtn_list.append(val)
    
    return rtn_list

In [10]:
rtn_positive(li)

[1, 2, 3]

## 1. filter로 구현해보기
```filter(함수, iterable한 자료형)```
 : 해당 함수에서 참인 것만 반환

In [11]:
def func_positive(x):
    '''
    x : iterable한 값
    '''
    return x > 0

In [12]:
list(filter(func_positive, li))

[1, 2, 3]

## 2. lambda + filter

In [13]:
list(filter(lambda x : x>0, li))

[1, 2, 3]

### 곱하기는 안됨! 안쪽 함수를 실행했을 때 값이 참인 것들의 값을 반환하기 때문

In [16]:
list(filter(lambda x : x*2, li))

[1, -1, 2, -2, 3, -3]

## 3. 리스트 내포 comprehension
: 리스트 안에 제어문을 넣어서 원하는 결과값을 리스트 형태로 얻고자 할 때

In [19]:
[x for x in li if x > 0]

[1, 2, 3]

## 4. map으로 구현해보기
입력리스트를 *2 해서 반환하는 함수 적용

In [23]:
def two_times(x):
    return x * 2

In [24]:
in_list = [1, 2, 3, 4]

In [25]:
list(map(two_times, in_list))

[2, 4, 6, 8]

In [26]:
[x*2 for x in in_list]

[2, 4, 6, 8]

## 5. zip() : 동일한 인덱스끼리 튜플로 반환
- 동일한 개수의 iterable한 순서가 있는 객체에서 동일한 인덱스끼리 묶는 것
- 단, 개수가 같아야 함

In [4]:
l1 = [1, 2, 3]
l2 = [3, 4, 5]

In [5]:
l3 = list(zip(l1, l2))
l3

[(1, 3), (2, 4), (3, 5)]

In [7]:
x, y = list(zip(l1, l2))

ValueError: too many values to unpack (expected 2)

In [10]:
for i, j in zip(l1, l2):
    print(i, j)

1 3
2 4
3 5

In [12]:
list(zip("one", "two"))

[('o', 't'), ('n', 'w'), ('e', 'o')]

# isinstance(object, class)
: object가 class의 인스턴스인지 확인

In [1]:
class Person: 
    pass

class Student(Person):
    pass

class Male:
    pass

In [2]:
a = Person()
b = Student()
c = Male()

In [3]:
print(isinstance(a, Person))
print(isinstance(b, Person))  # 상속받은 거라서 부모의 인스턴스 이기도 함
print(isinstance(c, Person))
print(isinstance(c, Male))

True
True
False
True