# ▶ one-line 한 줄로 코딩하기

In [1]:
money = 3000

if money > 3000:
    print("Take taxi")
else:
    print("Take bus")

Take bus

In [2]:
transportation = print("Take taxi") if money > 3000 else print("Take bus")
transportation

Take bus

# ▶ 0, 1 = False, True

In [3]:
# 1 = True, 0 = False
sum_var = 1
if (not sum_var):
    print(sum_var)

# ▶ 조건문 중 or

In [4]:
card = True

if money > 3000 or card:
    print("Take taxi")
else:
    pass  # 아무것도 하지 않겠다

Take taxi

# ▶ in : list 요소 확인

In [5]:
list_var = [i for i in range(1,6)]

if 8 in list_var:
    print("8 is in the list")
else:
    print("Can't find input number")

Can't find input number

# ▶ while 문

In [6]:
heat_tree = 0

while heat_tree < 10:
    heat_tree += 1
    print(f'나무를 {heat_tree}번 찍었습니다')
    if heat_tree == 10:
        print('나무가 넘어갑니다')

나무를 1번 찍었습니다
나무를 2번 찍었습니다
나무를 3번 찍었습니다
나무를 4번 찍었습니다
나무를 5번 찍었습니다
나무를 6번 찍었습니다
나무를 7번 찍었습니다
나무를 8번 찍었습니다
나무를 9번 찍었습니다
나무를 10번 찍었습니다
나무가 넘어갑니다

In [7]:
prompt = """
1. ADD
2. DEL
3. LIST
4. QUIT
ENTER NUMBER : 
"""

number = 0
while number < 4:
    print(prompt)
    number = int(input())

1. ADD
2. DEL
3. LIST
4. QUIT
ENTER NUMBER :

 4

## ▷ continue 문
### : while문을 빠젼나가지 않고  while 문의 맨 처음 조건문으로 다시 돌아가야 할 때

In [8]:
a = 0
while a < 10:
    a += 1
    if a % 2 == 0:
        continue
    print(a)

1
3
5
7
9

## ▷ break 문
while 문을 빠져나가기 위해 사용 가능한 구문

In [9]:
# 자판기 만들기
coffee = 3
money = 0

while True:  # 무한 루프
    insert = int(input("Insert Money : "))
    money += insert
    
    if not coffee:  ## coffee == 0 보다 not 많이 씀!!!
        print(">> Sold out")
        break
    
    if money == 300:
        print("A cup of coffee")
        coffee -= 1
        break
        
    elif money > 300:
        money -= 300
        print(f'잔돈 {money}원 + Coffee')
        coffee -= 1
        
        # if money > 300:
        #     print(">> 추가 주문 하시겠습니까?")
        #     re = int(input(">> 1:네, 0:아니오"))
        #     if re: continue
        #     else: 
        #         print(f"{money}원 반환")
        #         break
        
    else:
        print(f">> 돈이 {300-money}원 부족합니다")
    
    print(">> 금액을 추가하시겠습니까?")
    re = int(input(">> 1:네, 0:아니오"))
    if re: continue
    else: break

Insert Money :  300

A cup of coffee

# ▶ for 문

## ▷ in

In [10]:
a = [(1, 3), (2, 4), (3, 5)]

for (f, r) in a:
    print(f + r)

4
6
8

In [11]:
# 점수가 60 이상인 학생에 대한 합격 여부 + 몇 번째 학생인지 반환
marks = [90, 25, 67, 45, 80]
num = 0

for point in marks:
    num += 1
    if point < 60:
        print(f"{num}번 학생은 불합격")        
    else:
        print(f"{num}번 학생은 합격")

1번 학생은 합격
2번 학생은 불합격
3번 학생은 합격
4번 학생은 불합격
5번 학생은 합격

## ▷ range
1.  ```python
range(end)
```
2.  ```python
range(start, end)
```
3.  ```python
range(start, end, step)
```

In [12]:
for i in range(0, 10, 2):
    print(i, end=' ')

0 2 4 6 8

## ▷ list comprehension

### < EX1 >

In [13]:
a = [i for i in range(1, 6)]
a

[1, 2, 3, 4, 5]

### < EX2 >

In [14]:
result = []

for num in a:
    result.append(num*3)

result

[3, 6, 9, 12, 15]

In [15]:
# 리스트 내포 형식으로 생성해보기
result = [num*3 for num in a]
result

[3, 6, 9, 12, 15]

### < EX3 >

In [16]:
result = [num*3 for num in a if num % 2 == 0]

''' ==
for num in a:
    if num % 2 == 0:
        result.append(num*3)
'''

result

[6, 12]

### < EX4 >

In [17]:
# 구구단 결과 생성
result = [x*y for x in range(2, 10) for y in range(1, 10)]
type(result), result

(list,
 [2,
  4,
  6,
  8,
  10,
  12,
  14,
  16,
  18,
  3,
  6,
  9,
  12,
  15,
  18,
  21,
  24,
  27,
  4,
  8,
  12,
  16,
  20,
  24,
  28,
  32,
  36,
  5,
  10,
  15,
  20,
  25,
  30,
  35,
  40,
  45,
  6,
  12,
  18,
  24,
  30,
  36,
  42,
  48,
  54,
  7,
  14,
  21,
  28,
  35,
  42,
  49,
  56,
  63,
  8,
  16,
  24,
  32,
  40,
  48,
  56,
  64,
  72,
  9,
  18,
  27,
  36,
  45,
  54,
  63,
  72,
  81])